<header>
  <div class="logo">
    <img src="../assets/Logo.png" alt="Logo" />
  </div>

  <div class="header-text">
    <span>Pagina inicial</span>
    <span>Sobre</span>
  </div>

  <div class="title">
    <b>ToDo List</b>
    <br /><br />
    <div class="input-container">
      <input type="text" class="circular-input" placeholder="Adicionar nova tarefa">
      <button class="input-btn">+</button>
    </div>

    <div class="button-group">
      <button class="custom-btn">Completo</button>
      <button class="custom-btn">Incompleto</button>
      <button class="custom-btn">Deletar Tudo</button>
    </div>

    <div class="task-list">
      <div class="task-input-container">
        <input type="text" class="task-input" placeholder="Digite sua tarefa aqui...">
        <span class="task-icon edit-icon">✏️</span> <!-- Ícone de lápis -->
        <span class="task-icon delete-icon">❌</span> <!-- Ícone de deletar -->
      </div>
      <div class="task-input-container">
        <input type="text" class="task-input" placeholder="Digite sua tarefa aqui...">
        <span class="task-icon edit-icon">✏️</span> <!-- Ícone de lápis -->
        <span class="task-icon delete-icon">❌</span> <!-- Ícone de deletar -->
      </div>
      <div class="task-input-container">
        <input type="text" class="task-input" placeholder="Digite sua tarefa aqui...">
        <span class="task-icon edit-icon">✏️</span> <!-- Ícone de lápis -->
        <span class="task-icon delete-icon">❌</span> <!-- Ícone de deletar -->
      </div>
    </div>
  </div>
</header>